.Button {
  background-color: #232323;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: #f1efec;
  white-space: nowrap;
}

/* Button.css */
button[disabled] {
  background-color: #ccc; /* 비활성화된 버튼 색상 */
  cursor: not-allowed; /* 마우스 커서 변경 */
}
