.ChatHeader {
  height: 10%;
  border-bottom: 0.1em solid #232323;
  display: flex;
  align-items: center;
}

.image-wrapper {
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
  margin: 1em;
}

.image-wrapper > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.content {
  font-size: 1.2em;
  font-weight: bold;
}
