.SignIn {
  width: 30%;
  height: 25%;
  border-radius: 10px;
  background-color: #232323;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.sign-in-header {
  font-size: 2.5em;
  font-weight: bold;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.sign-in-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.sign-in-container > .input-warpper {
  border-radius: 5px;
  border: none;
}

.input-warpper > input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.sign-in-container > button {
  background-color: #169976;
  border: none;
  color: white;
  font-size: 1.5em;
  border-radius: 5px;
}

.other-container {
  display: flex;
  width: 80%;
  font-size: 0.5em;
  justify-content: space-around;
  align-items: center;
}

.other-container > button {
  background-color: #232323;
  border: none;
  font-size: 0.5em;
  color: white;
  border-bottom: 1px solid;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}
